<p>この度はお問い合わせいただきありがとうございます。</p>
<p>以下の内容でお問い合わせを受け付けました。</p>

<hr>
<p><strong>メールアドレス：</strong><%= @contact.email %></p>
<p><strong>お問い合わせ内容：</strong></p>
<p><%= simple_format(@contact.body) %></p>
<hr>

<p>内容を確認の上、担当者よりご連絡いたします。</p>
<p>紡ぐレター</p>